body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.logo-container img{
    width: 250px;
}

.links-container{
    display: flex;
    align-items: center;
}

.links-container a{
    padding:20px;
    text-decoration: none;
    color:#000
}

/*--------------body---------------------------*/

.titulo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../galeria/zapatilla2.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 95%);
}

.titulo-item{
    color:#fff;
    text-align: center;
    text-shadow: 1px 1px 7px #000;
    font-size: 40px;
    margin-bottom: 70px;
}

.titulo-container h1,h2{
    margin:0 
}

.descubre a{
    text-decoration: none;
    color:#000;
}

.descubre h2{
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.descubre h2:hover{
    background-color: #dad5d5;
}

/*--------------------------------------------Seccions------------------------------*/

.seccion-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
}

.secciones-links{
    padding: 10px 40px;
    margin:30px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.secciones-links:hover{
    background-color: #d1cdcd;
}

.secciones-calzadoImagen img{
    width: 100px;
}

.secciones-calzadoTitulo{
    text-align: center;
}

/*-------------------Quienes Somos-------------------------*/

.quienesSomos-container{
    display: grid;
    grid-template-areas:
    "quienesSomosTitulo quienesSomosTitulo"
    "quienesSomostexto quienesSomosImg";
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    background-color: #1a1e23;
    color:#fff;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

.quienesSomos-container h2{
    font-size: 40px;
}

.quienesSomos-container p{
    font-size: 19px;
}

.quienesSomos-titulo{
    grid-area:quienesSomosTitulo;
    border-bottom:solid #fff;
    text-align: center;
}

.quienesSomosTexto{
    grid-area: quienesSomosTexto;
    text-align: justify;
}

.quienesSomos-img{
    grid-area: quienesSomosImg;
    text-align: center;
}

/*----------------------Footer--------------------------------*/

.footer-container{
    display: grid;
    grid-template-areas:
    "contactanos redesSociales";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contactanos{
    grid-area:contactanos;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

section{
    padding: 10px 0;
}


.redesSociales{
    grid-area: redesSociales;
    display: flex;
}

.icon{
    height: 30px;
    width: 30px;
}

.whatsapp, .mail, .instagram, .linkedin{
    padding: 20px;
}